<div style="width: 100%; display: flex; justify-content: center;">
  <div class="form-container">
    <form #form="ngForm">
      <div gsFormItem [valid]="username.valid!" [touched]="username.touched!" errorMessage="Username not valid" class="form-item-container">
        <input 
          placeholder="Username"
          class="form-control form-item"
          ngModel
          #username="ngModel"
          name="username"
          required
        >
      </div>
      <div gsFormItem [valid]="email.valid!" [touched]="email.touched!" errorMessage="Email not valid" class="form-item-container">
        <input 
          placeholder="Email"
          class="form-control form-item"
          ngModel
          name="email"
          #email="ngModel"
          email
          required
        >
      </div>
      <div class="form-item-container">
        <select 
          class="form-control form-item" 
          name="subscription"
          [ngModel]="'basic'"
        >
          <option value="basic">Basic</option>
          <option value="advanced">Advanced</option>
          <option value="pro">Pro</option>
        </select>
      </div>
      <div gsFormItem [valid]="password.valid!" [touched]="password.touched!" errorMessage="Password not valid" class="form-item-container">
        <input 
          [type]="this.visiblePassword ? '' : 'password'"
          placeholder="Password"
          class="form-control form-item"
          ngModel
          name="password"
          #password="ngModel"
          required
          minlength="8"
        >
      </div>
      <button [disabled]="form.invalid" class="submit-btn" (click)="this.submitForm()">Submit</button>
    </form>
  </div>
</div>
